p {
    width: auto;
    align-self: center;
    border: 1px solid black;
}
img {
}

h3 {
    align-self: center;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    
}

.title {
    height: 50px;
    text-align: center;
    background: linear-gradient(#b4b4b4, #f4f4f4);
}

a {
    text-decoration: none;
    color: gray;
}
a:hover {
    color: #d6251e;
}
.main {
    text-align: center;
}

.main-image {
    align-content: center;
    background: linear-gradient(#f4f4f4,white);
}

html {
    font-family: 'Roboto', sans-serif;
}

div {
    
}
