p {
    width: auto;
    align-self: center;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

h1 {
    margin: 0;
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 25px 0;
    font-family: 'Raleway', sans-serif;
    background-color: #ebe7dc;
    text-shadow: 2px 2px .5px white;
    text-transform: capitalize;
    font-weight: bold;
    
}
a {
    text-decoration: none;
    color: gray;
}
a:hover {
    color: #d6251e;
}
.main {
    text-align: center;
    background-color: black;
    opacity: 0.5;
    color:#fff;
}

.main-image {
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 1000px;
  margin: 0 auto;
  background: #ededed;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
}


button {
    background-color: burlywood;
    color: indianred;
    border-color: skyblue;
    border-radius: 26px;
}
button:hover {
    color: burlywood;
background-color: indianred;
}
.nav {
    align-content: left;
    margin-bottom: 20px;
}

li {
    display: inline-block;
    padding: 10px 20px;
}

ul {
   margin: none;
    list-style-type: none;
    display: inline;
}
